.charCard{
    border: 3px solid turquoise;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    padding: 40px;
    margin: 20px;
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1111;
}


.charCardContainer
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    width: 800px;
    height: 650px;
}

.portrait
{
    /* border: 1px solid red; */
    margin-top: 25px;
    margin-left: 75px;
    width: 180px;
    height: 180px;
    display: inline-block;
    transform: translateY(-50px)
}

.eqContainer
{
    border: 1px solid red;
    margin-top: 35px;
    margin-left: 250px;
    width: 180px;
    height: 180px;
    display: inline-block;
    transform: translateY(15px)
}

.equippedItem{
    border: 1px solid blue;
    height: 40px;
    width: 40px;
}

.statsCard
{
    margin-left: 50px;
    /* margin-top: 10px; */
    width: 250px;
    height: 150px;
    border: 1px solid green;
}

.nameCard
{
    margin-left: 50px;
    margin-top: 40px;
    width: 250px;
    height: 150px;
    border: 1px solid purple;

}

#eq
{
    border: 1px solid yellow;
    margin-top: 10px;
    margin-left: 10px;
    width: 400px;
    height: 345px;
    /* transform: translateY(150px); */
    transform: translate(350px, -350px)
    /* float: left; */
}
#armor
{
    border: 1px solid orange;
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    height: 155px;
    float: left;
}
#weapon
{
    border: 1px solid orange;
    margin-left: 15px;
    margin-top: 10px;
    width: 180px;
    height: 155px;
    float: left;
}
#questitems
{
    border: 1px solid orange;
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    height: 155px;
   float: left;
}
#consumables
{
    border: 1px solid orange;
    margin-left: 15px;
    margin-top: 10px;
    width: 180px;
    height: 155px;
    float: left;
}

